.summary-container {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-top: 0.5px solid rgb(87, 87, 87);
    border-bottom: 0.5px solid rgb(87, 87, 87);
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.summary-container__income {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}

.summary-container__expense {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}

.summary-container__difference {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
}

.summary-container__value {
    text-align: end;
    width: 40%;
}

.summary-container__difference .summary-container__value {
    padding-top: 0.2em;
    border-top: 0.5px solid rgb(139, 139, 139);
}